.topFlex {
  @media #{$desktop} {
    @include flexbox;
    align-items: flex-start;
    flex-direction: row
  }


  .text {
    @media #{$desktop} {
      padding: 20px;
    }
  }
}

.padded {
  @media #{$desktop} {
    padding: 20px;
  }
}

.imagePadded {
  max-width: 75%;
  padding: 20px 0 20px 0;
}

.sm-resize {
  @media (max-width: 450px) {
    width: 75%;
  }
}
