.topFlex {
  @media #{$desktop} {
    @include flexbox;
    align-items: flex-start;
    flex-direction: row
  }


  .text {
    @media #{$desktop} {
      padding: 20px;
    }
  }
}

.padded {
  @media #{$desktop} {
    padding: 20px;
  }
}
